/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 6, 2020, 8:36:28 PM
    Author     : Tuan
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}   
th {
    background-color: #17a2b8;
    font-size: 16px;
}            
tr:nth-child(even){background-color: #b8daff}
td {
    font-size: 16px;
}
input[type=number] {
    width: 80%;
    height: 30px;
    font-size: 16px;
}   
.check-button {
    width: 80%;
    height: 30px;
    font-size: 16px;                
}
.confirm-button {
    width: 100%;
    height: 40px;
    font-size: 20px; 
    margin-top: 2%;
}
button:hover {
    cursor: pointer;
} 
